table.page {
	background-color: #fff;
	margin: 0px 0 0px 0;
	width: 80%
	border-collapse: collapse;
	padding: 0px 0 0px 0;
	#border: dashed thin 1px;
	border:  thin 3px;
	text-align: center;
}
table.page td {
	padding: 2px 4px 2px 4px;
	#text-align: left;
	vertical-align: top;
	TEXT-ALIGN: center;
}
table.page tr{
  background-color: #fff;
  TEXT-ALIGN: center;
}

a.page {
	color: #000;
	text-decoration:none;
}

a:hover.page {
	color: #fc0;
	text-decoration:none;
}
