.tableSearch {
	background-color: #D3D3D3;
	COLOR: #FFFFFF;
	text-align: center;
	width: 100%;
	min-height: 50px;
	max-height: 700px;
	overflow: scroll;
}

TABLE.tableSearch TH {
	background-color: #03A4B6;
	text-align: center;
	height: 30px;
}

TABLE.tableSearch TD {
	color: #000000;
	height: 25px;
	font-size: 13px;
}

.tableSearchNoWidth {
	background-color: #D3D3D3;
	COLOR: #FFFFFF;
	text-align: center;
	min-height: 50px;
	max-height: 700px;
	overflow: scroll;
}

TABLE.tableSearchNoWidth TH {
	background-color: #03A4B6;
	text-align: center;
	height: 30px;
}

TABLE.tableSearchNoWidth TD {
	color: #000000;
	height: 25px;
	font-size: 13px;
}

.hilight_text {
	background-color: #909090;
	height: 30px;
}

.td_text{
	text-align: left;

}
.td_text_center{
	align:center;
	
}
.td_text_right{
	text-align:right;
}
.td_number{
	text-align:right;
}
/** for Paging css ************************/
.pagination {
  display: inline-block;
  font-size:16px;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination span {
  font-size:16px;
  color: black;
  float: left;
  padding: 8px 10px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

/**********************************************************/
