<?xml version="1.0" ?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/pens?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<!-- <property name="connection.url">jdbc:mysql://192.168.202.167:3306/pens?useUnicode=true&amp;characterEncoding=UTF-8</property> -->
		
		<property name="connection.username">pens</property>
		<property name="connection.password">pens</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="initialSize">5</property>
		<property name="pool_maxactive">10</property>
		<property name="pool_maxidle">5</property>
		<property name="pool_maxwait">-1</property>
		<property name="connectionpool">true</property>
	</session-factory>
</hibernate-configuration>