<!-- Pick Job Search -->
.tableSearch {
	background-color: #D3D3D3;
	COLOR: #FFFFFF;
	text-align: center;
	width: 100%;
	min-height: 50px;
	max-height: 700px;
	overflow: scroll;
}

TABLE.tableSearch TH {
	background-color: #03A4B6;
	text-align: center;
	height: 30px;
}

TABLE.tableSearch TD {
	color: #000000;
	height: 25px;
	font-size: 13px;
}

.hilight_text {
	background-color: #909090;
	height: 30px;
}

<!-- Search -->
.search_no{
	align:center;
	height: 30px;
	width: 5%;
}
.search_saleDate{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_docNo{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_custGroup{
	text-align:left;
	height: 30px;
	width: 15%;
}
.search_storeCode{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_barcode{
	text-align:center;
	height: 30px;
	width: 5=10%;
}
.search_groupCode{
	text-align:center;
	height: 30px;
	width: 8%;
}
.search_materialMaster{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_pensItem{
	text-align:center;
	height: 30px;
	width: 8%;
}
.search_retailPriceBF{
	text-align:right;
	height: 30px;
	width: 8%;
}
.search_qty{
	text-align:right;
	height: 30px;
	width: 8%;
}
.search_edit{
	text-align:center;
	height: 30px;
	width: 10%;
}

<!-- Result -->
.data_no{
	align:center;
	height: 30px;
	width: 5%;
}
.data_lineChk{
	align:center;
	height: 30px;
	width: 10%;
}
.data_barcode{
	align:left;
	height: 30px;
	width: 15%;
}
.data_materialMaster{
	align:left;
	height: 30px;
	width: 15%;
}
.data_groupCode{
	align:left;
	height: 30px;
	width: 20%;
}
.data_pensItem{
	align:left;
	height: 30px;
	width: 10%;
}
.data_wholePriceBF{
	align:center;
	height: 30px;
	width: 5%;
}
.data_retailPriceBF{
	align:center;
	height: 30px;
	width: 5%;
}
.data_status{
	align:left;
	height: 30px;
	width: 20%;
}
