.table_fix{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
 
 }
.tbl-content{
  height:350px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
TABLE.table_fix th{
  background-color: #03A4B6;
  padding: 20px 15px;
  text-align: center;
  height: 30px;
  color: #fff;
}

TABLE.table_fix td{
  padding: 5px;
  vertical-align:middle;
  font-weight: 300;
  font-size: 13px;
  color: #00000;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

/** footer **/
.table_footer_fix{
  width:100%;
  table-layout: fixed;
}

TABLE.table_footer_fix td{
  padding: 5px;
  vertical-align:middle;
  font-weight: 300;
  font-size: 13px;
  color: #00000;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}