<!-- Pick Job Search -->
.tableAj {
	background-color: #D3D3D3;
	COLOR: #FFFFFF;
	text-align: center;
	width: 100%;
	min-height: 50px;
	max-height: 700px;
	overflow: scroll;
}

TABLE.tableAj TH {
	background-color: #03A4B6;
	text-align: center;
	height: 30px;
}

TABLE.tableAj TD {
	color: #000000;
	height: 25px;
	font-size: 13px;
}

<!-- Search -->
.search_no{
	align:center;
	height: 30px;
	width: 5%;
}
.search_documentNo{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_transactionDate{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_storeCode{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_storeName{
	text-align:center;
	height: 30px;
	width: 6%;
}
.search_status{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_edit{
	text-align:center;
	height: 30px;
	width: 10%;
}

<!-- Result -->
.data_seqNo{
	align-text:center;
	height: 30px;
	width: 10%;
}
.data_chkbox{
	align:center;
	height: 30px;
	width: 10%;
}
.data_itemAdjust{
	align:left;
	height: 30px;
	width: 25%;
}
.data_itemAdjustDesc{
	align:left;
	height: 30px;
	width: 30%;
}
.data_itemAdjustUom{
	align-text:center;
	height: 30px;
	width: 10%;
}
.data_itemAdjustQty{
	align-text:center;
	height: 30px;
	width: 10%;
}


