<!-- Pick Job Search -->
.tableJobSearch {
	background-color: #D3D3D3;
	COLOR: #FFFFFF;
	text-align: center;
	width: 100%;
	min-height: 50px;
	max-height: 700px;
	overflow: scroll;
}

TABLE.tableJobSearch TH {
	background-color: #03A4B6;
	text-align: center;
	height: 30px;
}

TABLE.tableJobSearch TD {
	color: #000000;
	height: 25px;
	font-size: 13px;
}
.search_no{
	text-align:center;
	height: 30px;
	width: 5%;
}
.search_openDate{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_custGroup{
	text-align:left;
	height: 30px;
	width: 15%;
}
.search_jobId{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_name{
	align:left;
	height: 30px;
	width: 25%;
}
.search_status{
	text-align:center;
	height: 30px;
	width: 13%;
}
.search_closeDate{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_edit{
	text-align:center;
	height: 30px;
	width: 22%;
}
