.tableSearch {
	background-color: #D3D3D3;
	COLOR: #FFFFFF;
	text-align: center;
	width: 100%;
	min-height: 50px;
	max-height: 700px;
	overflow: scroll;
}

TABLE.tableSearch TH {
	background-color: #03A4B6;
	text-align: center;
	height: 30px;
}

TABLE.tableSearch TD {
	color: #000000;
	height: 25px;
	font-size: 13px;
}

<!-- Search -->
.search_issueReqDate{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_issueReqNo{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_issueReqStatus{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_confirmIssueDate{
	text-align:center;
	height: 30px;
	width: 10%;
}
.search_pickType{
	text-align:center;
	height: 30px;
	width: 8%;
}
.search_remark{
	text-align:left;
	height: 30px;
	width: 38%;
}
.search_edit{
	text-align:center;
	height: 30px;
	width: 7%;
}
.search_edit2{
	text-align:center;
	height: 30px;
	width: 7%;
}

<!-- Result -->
.data_chk{
	align:center;
	height: 30px;
	width: 10%;
}
.data_jobId{
	align:center;
	height: 30px;
	width: 5%;
}
.data_jobName{
	text-align:left;
	height: 30px;
	width: 25%;
}
.data_boxNo{
	align:center;
	height: 30px;
	width: 8%;
}
.data_materialMaster{
	align:left;
	height: 30px;
	width: 12%;
}
.data_groupCode{
	align:left;
	height: 30px;
	width: 10%;
}
.data_pensItem{
	align:left;
	height: 30px;
	width: 10%;
}
.data_onhandQty{
	align:center;
	height: 30px;
	width: 10%;
}
.data_qty{
	align:center;
	height: 30px;
	width: 20%;
}

<!-- Result2 -->
.data2_lineChk{
	align:center;
	height: 30px;
	width: 10%;
}
.data2_boxNo{
	align:center;
	height: 30px;
	width: 20%;
}
.data2_jobName{
	align:center;
	height: 30px;
	width: 50%;
}
.data2_total_box_qty{
	align:center;
	height: 30px;
	width: 15%;
}
.data2_qty{
	align:center;
	height: 30px;
	width: 15%;
}
