.ongletTextEna {
	color: #20B2AA;
	/***background-color: #87CEFF;***/
	font-family: Tahoma;
	font-size: 13px;
	height: 30px;
	width: 120px;
	border-right-color: #B0C4DE;
	border-right-style: double;
	background: url("../images/tab1.gif");
	text-align: center;
	font-weight: bold;
	cursor: default;
}

.ongletTextDis {
	color: #828282;
	/***background-color: #7EC0EE;**/
	font-family: Tahoma;
	font-size: 13px;
	height: 30px;
	width: 120px;
	border-right-color: #B0C4DE;
	border-right-style: double;
	background: url("../images/tab2.gif");
	text-align: center;
	font-weight: bold;
	cursor: default;
}

.ongletTextDis:HOVER {
	color: #20B2AA;
	/***background-color: #87CEFF;***/
	font-family: Tahoma;
	font-size: 13px;
	height: 30px;
	width: 120px;
	border-right-color: #B0C4DE;
	border-right-style: double;
	background: url("../images/tab1.gif");
	text-align: center;
	font-weight: bold;
	cursor: default;
}

.ongletMain {
	border-width: 0;
}

.ongletSpace {
	border-width: 0;
	/**background-color: #87CEFF;**/ /**background-color: #1E90FF;**/
	background-color: #E6F5F8;
}

.ongletMiddle {
	border-width: 0;
	background-color: #FFFFFF;
}

.clsAction {
	FONT-SIZE: 13px;
	COLOR: #000000;
	FONT-FAMILY: Tahoma;
	WIDTH: 100%;
}

.middleTab {
	background-color: #87CEFF;
	border: 0px;
}

.tabDetail {
	font-family: Tahoma;
	width: 100%
}

.tabHeader {
	color: #FFFFFF;
	background-color: #B0C4DE;
	font-weight: bold;
}

.tabHeaderLeft {
	color: #FFFFFF;
	width: 10px;
	background: url("../images/xLeft.gif") no-repeat Right;
}

.tabHeaderCenter {
	color: #FFFFFF;
	width: 150px;
	background: url("../images/xCenter.gif") repeat Top;
}

.tabHeaderRight {
	color: #FFFFFF;
	width: 10px;
	background: url("../images/xRight.gif") no-repeat Left;
}

.newPosBtn {
	color: #000000;
	background-color: #1E90FF;
	height: 25px;
	width: 75px;
	border-width: 1;
	border-color: #1E90FF;
	font-weight: bold;
}

.newNegBtn {
	color: #696969;
	background-color: #D3D3D3;
	height: 25px;
	width: 75px;
	border-width: 1;
	font-weight: bold;
}

.newPosBtnLong {
	color: #000000;
	background-color: #1E90FF;
	height: 25px;
	width: 120px;
	border-width: 1;
	border-color: #87CEFF;
	font-weight: bold;
}

.headerlabel {
	color: #000000;
	background-color: #87CEFF;
	background: url("../images/header.gif") bottom;
	font-weight: bolder;
	font-size: 18px;
}

.programlabel {
	vertical-align: middle;
	color: #067E00;
	/**background-color: #1E90FF;**/
	border: 0px solid #1874CD;
	padding: 5px 10px 5px 10px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
}

.userlabel {
	color: #FFFFFF;
	font-weight: bolder;
	font-size: 13px;
}

.footerlabel {
	color: #000000;
	/**background-color: #00A2B1;**/
	background-image: url("../images/footer.gif");
	font-size: 11px;
}

.menuheader {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
}

.menuheader:hover {
	background-color: #CD3700;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
}

.result {
	background-color: #D3D3D3;
	COLOR: #FFFFFF;
	text-align: center;
	width: 98%;
	min-height:50px;
	max-height:700px;
	overflow:scroll;
}

.result2 {
	background-color: #D3D3D3;
	COLOR: #FFFFFF;
	text-align: center;
	width: 100%;
	min-height:50px;
	max-height:700px;
	overflow:scroll;
}


.body {
	font-size: 13px;
	width: 980px;
	background-color: #E6F5F8;
}

.popbody {
	font-size: 13px;
	background-color: #E6F5F8;
}

TABLE.result TH { /**background-color: #7EC0EE;**/
	background-color: #03A4B6;
	COLOR: #000000;
	font-family: Tahoma;
	text-align: center;
	font-size: 13px;
	height: 30px;
}

.order {
	width: 35px;
}

.checkBox {
	width: 10px;
}

.icon {
	width: 15px;
}

.code {
	width: 110px;
}

.name {
	width: 180px;
}

.status {
	width: 60px;
}

.costprice {
	width: 80px;
}

.date {
	width: 100px;
}

TABLE.result TD {
	color: #000000;
	height: 25px;
	font-size: 13px;
}

TABLE.result2 TD {
	color: #000000;
	height: 25px;
	font-size: 13px;
}

.lineE {
	background-color: #FFFFFF;
}

.lineE:hover {
	background-color: #FFBBFF;
}

.lineO {
	background-color: #FFFFFF;
}

.lineO:hover {
	background-color: #FFBBFF;
}

.footer {
	text-align: left;
	background-color: #B0C4DE;
	color: #FFFFFF;
	height: 25px;
}

.footerNoAlign {
	background-color: #B0C4DE;
	color: #FFFFFF;
	height: 25px;
}


.recordfound {
	text-align: left;
	height: 20px;
	font-size: 13px;
	vertical-align: middle;
}

#maintab {
	position: relative;
	top: 0;
	bottom: 0;
	height: 100%
}

#framerow {
	min-height: 100%;
	height: 100%;
}

.newPicBtn {
	border-top-color: #B9D3EE;
	border-left-color: #B9D3EE;
	border-bottom-color: #9C9C9C;
	border-right-color: #9C9C9C;
}

.newPicBtn:HOVER {
	border-top-color: #CDBE70;
	border-left-color: #CDBE70;
	border-bottom-color: #A52A2A;
	border-right-color: #A52A2A;
	border: 2;
	border-style: solid;
	cursor: pointer;
}

.newSubMenu {
	
}

#mainmenu {
	background-color: #000000;
	background-image: url("../images/menu-bg.gif");
	height: 30px;
	width: 100%;
	text-align: left;
	vertical-align: middle;
}

#Logout {
	FONT-WEIGHT: bolder;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none
}

#Logout:HOVER {
	COLOR: firebrick;
}

#bannerHeader {
	height: 60px;
	background-image: url("../images/header.gif");
}

.newTrxBtn {
	height: 30px;
	background-color: #FFCC00;
	font-size: 13px;
	font-weight: bold;
}